<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Set your session id</h4>
    <input id="sessionId" type="text" placeholder="session id">
    <input id="postSessionId" type="submit" value="submit" onclick="postSessionId()">
    <script src="../public/index.js"></script>
</body>
</html>